* {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

body {
  margin: 0;
}

.navbar {
  display: flex; 
  flex-direction: row;
  height: 2.5rem;
  margin-left: -5px;
  border-bottom: 2px solid #f21f43;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 2.5rem;
     /* xl:pr-10 */

}

@media only screen and (min-width: 1280px){
  .navbar{
    height: 4.5rem;
    margin-top: 1.5rem;
  }
};

.touchtrigger{

}